---
layout: page
---
{{content}}

{% for p in site.pages %}
    {% if p.title == page.title %}
        {% assign prev = forloop.index0 | minus: 1 %}
        {% assign next = forloop.index %}
    {% endif %}
{% endfor %}

{{ site.tags["lesson"] }}

{% if site.GH_ENV == 'gh_pages' %}
    {% assign base = "" %}
{% else %}
    {% assign base = "" %}    
{% endif %}

{% if prev >= 0 and site.pages[prev].url contains "lessons" %} 
    <a href="{{site.pages[prev].url | prepend: base}}">Previous Chapter</a>
{% endif %}
{% if site.pages[next].url contains "lessons" %}
    <a href="{{site.pages[next].url | prepend: base}}">Next Chapter</a>
{% endif %}

